Django==3.2.12
django-cors-headers==4.3.1
django-filter==23.5
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
dj-database-url==2.1.0
psycopg2==2.9.9
mysqlclient==2.2.0
bcrypt==3.2.0
cryptography==3.4.8
python-dotenv==1.0.1
